@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
/* shared style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.primary-btn {
  padding: 14px 30px;
  border-radius: 5px;
  background: #e55473;
  color: #ffffff;
  border: none;
}
/* introduction banner design started */
header {
  width: 100vw;
  height: auto;
  background-color: #e554731a;
}
.introduction-banner-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 70px;
}
.intro-banner-content {
  padding-left: 130px;
}
.intro-banner-title {
  color: #272727;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 20px;
}
.intro-banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  max-width: 440px;
  margin: auto;
  margin-bottom: 25px;
}
.picture {
  padding-top: 90px;
  padding-right: 50px;
  width: 40vw;
  max-height: 100vh;
}
/* introduction banner design compleate */
/* featured flower section started */
.featured-section {
  width: 90%;
  margin: 0 auto;
}
.featured-title {
  text-align: center;
  color: #272727;
  font-size: 36px;
  font-weight: 800;
  margin-top: 90px;
}
.featured-description {
  text-align: center;
  margin-top: 10px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
.featured-img-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}
.single-item-image {
  width: 250px;
  height: 350px;
  margin-top: 40px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.single-img-desc {
  color: #272727;
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-decoration-line: underline;
}
/* service section */
.service-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  text-align: center;
  padding: 70px;
  background: rgba(39, 39, 39, 0.05);
  margin-top: 100px;
}
.service-section-title {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 10px;
}
/* end service section */
/* discount section */
.discout-section-container {
  max-width: 100vw;
  height: auto;
  display: flex;
  gap: 30px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}
.discount-section-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 15px;
}
.discount-section-description {
  width: 50%;
  margin: 0 auto;
  color: rgba(39, 39, 39, 0.6);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}
.discount-section-image {
  width: 300x;
  height: 400px;
  padding: 50px 200px 50px 0;
}
