@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
/* shared style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.primary-btn {
  padding: 14px 30px;
  border-radius: 5px;
  background: #e55473;
  color: #ffffff;
  border: none;
}
/* introduction banner design started */
header {
  width: 100vw;
  height: auto;
  background-color: #e554731a;
}
.introduction-banner-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 70px;
}
.intro-banner-content {
  padding-left: 130px;
}
.intro-banner-title {
  color: #272727;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 20px;
}
.intro-banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  max-width: 440px;
  margin: auto ;
  margin-bottom: 25px;
}
.picture {
    padding-top: 90px;
    padding-right: 50px;
    width: 40vw;
    max-height: 100vh;
}
/* introduction banner design compleate */
/* featured flower section started */
